
.dashboard-container {
    display: flex;
    flex-wrap: wrap;

    gap: 40px;
    padding: 20px;
    margin-bottom: 3rem;
}

.dashboard-panel {
    display: flex;
    flex-direction: column;
    background-color: #f5f5f5;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: calc(33.33% - 80px);
    max-width: 100%;
    min-width: 300px;
    color: #333;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

@media (max-width: 900px) {
    .dashboard-panel {
        width: calc(50% - 40px);
        /* Cambia a dos columnas en pantallas medianas */
    }
}

@media (max-width: 600px) {
    .dashboard-panel {
        width: 100%;
        /* Una columna en pantallas pequeñas */
    }
}

.dashboard-panel:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

.dashboard-panel h2 {
    color: #007acc;
    font-size: 1.5em;
    margin-bottom: 15px;
    text-align: center;
}

.dashboard-panel p {
    font-size: 1em;
    margin: 5px 0;
}

.dashboard-panel span {
    font-weight: bold;
    color: #007acc;
}

.dashboard-panel ul {
    padding-left: 20px;
    list-style-type: disc;
}

.dashboard-panel li {
    font-size: 0.9em;
    margin: 3px 0;
}

.dashboard-panel li span {
    font-weight: bold;
}