.sidebar {
  height: 100%;
  width: auto;
  z-index: 1;
  top: 50%;
  left: 0;
  overflow-x: hidden;
  padding-top: 20px;
}

/* los items uno sobre el otro */

.link {
  padding: 10px 15px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
}

h4 {
  color: #818181;
  font-size: 20px;
  margin: 0;
  padding: 10px 15px;
}

.active {
  color: yellow;
}